<div class="skinny_wrapper">
  <%= simple_form_for @post do |f| %>

    <%= f.input :title %><br />

    <br />
    <br />
    <%= f.input :content %><br />

    <%= f.input :tag_list, label: "Tags" %><br />

    <br />
    <%= f.button :submit, class: 'button'  %>

  <% end %>
</div>
