<div id="post_show_content" class="skinny_wrapper wrapper_with_padding">
  <header>
    <h1 class="show_header"><%= @post.title %></h1>
      <p class="username_large"><%= @post.user.username %></p>
      <p class="date">
        <%= "Post originated: #{ @post.created_at.strftime('%A, %d %b %Y | %l:%M %p') }" %>
      </p>
      <% if @post.updated_at != @post.created_at %>
        <p class="date">
          <%= "Post last updated: #{ @post.updated_at.strftime('%A, %d %b %Y | %l:%M %p') }" %>
        </p>
      <% end %>
  </header>
  <div class="wrapper_with_padding">
    <div id="content">
      <% if @post.image.exists? %>
        <p><%= image_tag @post.image.url(:large) %></p>
        <p class="date">
          <%= "Image last updated: #{ @post.image_updated_at.strftime('%A, %d %b %Y | %l:%M %p') }" %>
        </p>
      <% end %>
      <p><%= markdown @post.content %></p>
    </div>
    <hr>
      <% if @post.tags.any? %>
        <p class="tags"> Tags:
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </p>
        <hr />
      <% end %>

    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "Edit", edit_post_path, class: "button" %>
      <%= link_to "Delete", post_path, method: :delete, data: { confirm: "Do you really want to delete this post?" }, class: "button" %><br />
    <% end %>
    <br />

    <h3>Comments</h3>
    <%= render partial: 'posts/comment', collection: @post.comments %>
    <%= render partial: 'comments/form' %>


    <%= link_to "<< Back", :back %>
  </div>

</div>
