<div id="post_show_content" class="skinny_wrapper wrapper_with_padding">
  <header>
    <h1 class="show_header"><%= @post.title %></h1>
      <p class="username_large"><%= @post.user.username %></p>
      <p class="date">
        <%= "Post originated: #{ @post.created_at.strftime('%A, %d %b %Y | %l:%M %p') }" %>
      </p>
  </header>
  <div class="wrapper_with_padding">
    <div id="content">
      <p><%= markdown @post.content %></p>
    </div>


    <hr />
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "Edit", edit_post_path, class: "button" %>
      <%= link_to "Delete", post_path, method: :delete, data: { confirm: "Do you really want to delete this post?" }, class: "button" %><br />
    <% end %>
    <br />

    <%= link_to "<< Back", posts_path %>
  </div>

</div>
